*.exe
*.so
output.txt
runtime_*.txt
MOEAFramework-*.tar.gz
MOEAFramework-*/
plugins/Java/borg.jar
plugins/Java/build
plugins/Java/lib/MOEAFramework-*.jar
plugins/Java/lib/commons-*.jar
plugins/Java/lib/jcommon-*.jar
plugins/Java/lib/jfreechart-*.jar
plugins/Java/lib/rsyntaxtextarea-*.jar
plugins/Java/native
plugins/C#/*.dll
plugins/C#/bin/
plugins/C#/obj/
plugins/R/rdyncall/
plugins/R/rdyncall_*.tar.gz
plugins/Matlab/borg.h
plugins/Matlab/nativeborg.mex
